.light{
    display: flex;
  align-items: center;
  justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: beige;
}

.dark{
    display: flex;
  align-items: center;
  justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.light-button{
    background-color: blue;
    color: aliceblue;
}

.dark-button{
    background-color: aqua;
}