.list-display-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd; /* Add a border for better visibility */
  }
  
  .animated-word {
    margin-bottom: 10px; /* Add some spacing between lines */
  }

  .button-render {
    border: 2px solid black;
  }